.navbar-container {
  background-color: #003510;
  border-bottom: 3px solid white;
}
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  .navbar-right {
    .nav-link-active {
      border-bottom: 1px solid black;
      color: black;
    }

    a {
      color: #ff7300;
      text-decoration: none;
      &:hover {
        color: #ff9339;
      }
    }
    &:hover {
      color: #ff9339;
      transition: 0.5s ease-in-out;
      border-bottom: 1px solid white;
    }
  }

  .navbar-left {
    display: flex;

    .nav-link-wrapper {
      height: 22px;
      border-bottom: 1px solid transparent;
      transition: 0.5s ease-in-out;
      margin-right: 20px;
      text-transform: uppercase;
      font-size: 0.9rem;

      .nav-link-active {
        border-bottom: 1px solid black;
        color: black;
      }

      a {
        color: #ff7300;
        text-decoration: none;
        &:hover {
          color: #ff9339;
        }
      }
      &:hover {
        color: #ff9339;
        border-bottom: 1px solid white;
      }
    }
  }
}
