.taming-calc-container {
  height: calc(100vh - 84px);
  width: 100vw;
  background-color: #ff9339;
}

.taming-comp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}
.calc-wrapper {
  max-width: 700px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  border: 3px solid white;
  border-radius: 18px;
  background-color: #003510;
  color: #ff7300;
  font-size: 1.3em;
}
.details-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 3px solid white;
  border-radius: 20px;
  background-color: #003510;
  color: #ff7300;
}
.selectors-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-wrapper {
  border: 2px solid white;
  border-radius: 10px;
}
.img {
  max-width: 100%;
  height: auto;
}
.level-selector {
  padding-bottom: 20px;
}
.details-table {
  width: 95%;
  margin: 15px;
  border-radius: 15px;
  border: 3px solid #ff7300;
  font-size: 0.8em;
  td,
  th {
    border: 3px solid #ff7300;
    background-color: white;
    color: black;
    border-radius: 5px;
  }
}
